@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,*::after,*::before{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins';
  padding: 0;
  box-sizing: border-box;
}


:root{
  --pages-width: 22%;
}

.first_block{
  padding: 1em;
  /* border: 1px solid red; */
  font-family: 'Poppins';
  position: relative;
}

option{
  font-family: 'Poppins';
}